## Deliverable 2. Create a Customer Travel Destinations Map.

In [21]:
##pip install gmaps

In [22]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
from IPython.display import display
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [23]:
##conda install -c conda-forge widgetsnbextension

In [40]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension
!conda install -c conda-forge gmaps -y
!jupyter nbextension enable --py --sys-prefix gmaps

Error processing line 1 of C:\Users\ymasa\anaconda3\envs\PythonData\lib\site-packages\protobuf-3.19.1-py3.7-nspkg.pth:

  Traceback (most recent call last):
    File "C:\Users\ymasa\anaconda3\envs\PythonData\lib\site.py", line 168, in addpackage
      exec(line)
    File "<string>", line 1, in <module>
    File "<frozen importlib._bootstrap>", line 568, in module_from_spec
  AttributeError: 'NoneType' object has no attribute 'loader'

Remainder of file ignored
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok
Error processing line 1 of C:\Users\ymasa\anaconda3\envs\PythonData\lib\site-packages\protobuf-3.19.1-py3.7-nspkg.pth:

  Traceback (most recent call last):
    File "C:\Users\ymasa\anaconda3\envs\PythonData\lib\site.py", line 168, in addpackage
      exec(line)
    File "<string>", line 1, in <module>
    File "<frozen importlib._bootstrap>", line 568, in module_from_spec
  AttributeError: 'NoneType' object has no attribute 'loader'

Remainder of file ignored
The system cannot find the path specified.
Error processing line 1 of C:\Users\ymasa\anaconda3\envs\PythonData\lib\site-packages\protobuf-3.19.1-py3.7-nspkg.pth:

  Traceback (most recent call last):
    File "C:\Users\ymasa\anaconda3\envs\PythonData\lib\site.py", line 168, in addpackage
      exec(line)
    File "<string>", line 1, in <module>
    File "<frozen importlib._bootstrap>", line 568, in module_from_spec
  AttributeError: 'NoneType' object has no attribute 'loader'

Remainder of file ignored
Traceback (most recent call last):
  File "C:\Users\ymasa\anaconda3\envs\PythonData\Scripts\jupyter-nbextension-script.py", line 10, in <module>
    sys.exit(main())
  File "C:\Users\ymasa\anaconda3\envs\PythonData\lib\site-packages\jupyter_core\application.py", line 270, in launch_instance
    return super(JupyterApp, cls).launch_instance(argv=argv, **kwargs)
  File "C:\Users\ymasa\anaconda3\envs\PythonData\lib\site-packages\traitlets\config\application.py", line 664, in launch_instance
    app.start()
  File "C:\Users\ymasa\anaconda3\envs\PythonData\lib\site-packages\notebook\nbextensions.py", line 983, in start
    super(NBExtensionApp, self).start()
  File "C:\Users\ymasa\anaconda3\envs\PythonData\lib\site-packages\jupyter_core\application.py", line 259, in start
    self.subapp.start()
  File "C:\Users\ymasa\anaconda3\envs\PythonData\lib\site-packages\notebook\nbextensions.py", line 891, in start
    self.toggle_nbextension_python(self.extra_args[0])
  File "C:\Users\ymasa\anaconda3\envs\PythonData\lib\site-packages\notebook\nbextensions.py", line 867, in toggle_nbextension_python
    logger=self.log)
  File "C:\Users\ymasa\anaconda3\envs\PythonData\lib\site-packages\notebook\nbextensions.py", line 478, in enable_nbextension_python
    logger=logger)
  File "C:\Users\ymasa\anaconda3\envs\PythonData\lib\site-packages\notebook\nbextensions.py", line 375, in _set_nbextension_state_python
    m, nbexts = _get_nbextension_metadata(module)
  File "C:\Users\ymasa\anaconda3\envs\PythonData\lib\site-packages\notebook\nbextensions.py", line 1117, in _get_nbextension_metadata
    m = import_item(module)
  File "C:\Users\ymasa\anaconda3\envs\PythonData\lib\site-packages\traitlets\utils\importstring.py", line 42, in import_item
    return __import__(parts[0])
ModuleNotFoundError: No module named 'gmaps'
Error processing line 1 of C:\Users\ymasa\anaconda3\envs\PythonData\lib\site-packages\protobuf-3.19.1-py3.7-nspkg.pth:

  Traceback (most recent call last):
    File "C:\Users\ymasa\anaconda3\envs\PythonData\lib\site.py", line 168, in addpackage
      exec(line)
    File "<string>", line 1, in <module>
    File "<frozen importlib._bootstrap>", line 568, in module_from_spec
  AttributeError: 'NoneType' object has no attribute 'loader'

Remainder of file ignored

In [31]:
##jupyter nbextension enable --py gmaps
##jupyter nbextension enable --py widgetsnbextension

In [32]:
##pip install jupyter_contrib_nbextensions

In [33]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Fortuna,US,40.5982,-124.1573,69.93,79,0,13.80,clear sky
1,1,Kruisfontein,ZA,-34.0033,24.7314,53.89,81,0,7.47,clear sky
2,2,Qui Nhon,VN,13.7667,109.2333,78.26,87,0,4.21,clear sky
3,3,Zhob,PK,31.3411,69.4481,74.97,58,0,4.12,clear sky
4,4,Barrow,US,71.2906,-156.7887,39.22,93,100,23.02,mist

In [34]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [35]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Qui Nhon,VN,13.7667,109.2333,78.26,87,0,4.21,clear sky
8,8,Miraflores,MX,19.2167,-98.8083,77.65,74,100,3.00,overcast clouds
9,9,Kavieng,PG,-2.5744,150.7967,84.61,64,97,17.49,overcast clouds
12,12,Warangal,IN,18.0000,79.5833,76.10,93,95,6.82,overcast clouds
14,14,Butaritari,KI,3.0707,172.7902,82.13,75,7,19.84,clear sky
21,21,Fort Payne,US,34.4442,-85.7197,87.01,62,0,5.41,clear sky
22,22,Meulaboh,ID,4.1363,96.1285,75.56,90,100,6.73,light rain
23,23,Guerrero Negro,MX,27.9769,-114.0611,79.38,65,12,15.97,few clouds
27,27,Bandarbeyla,SO,9.4942,50.8122,76.14,84,99,22.41,overcast clouds
28,28,Cockburn Town,TC,21.4612,-71.1419,83.21,75,7,11.34,clear sky

In [36]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                262
City                   262
Country                262
Lat                    262
Lng                    262
Max Temp               262
Humidity               262
Cloudiness             262
Wind Speed             262
Current Description    262
dtype: int64

In [37]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()

In [38]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Qui Nhon,VN,78.26,clear sky,13.7667,109.2333,
8,Miraflores,MX,77.65,overcast clouds,19.2167,-98.8083,
9,Kavieng,PG,84.61,overcast clouds,-2.5744,150.7967,
12,Warangal,IN,76.10,overcast clouds,18.0000,79.5833,
14,Butaritari,KI,82.13,clear sky,3.0707,172.7902,
21,Fort Payne,US,87.01,clear sky,34.4442,-85.7197,
22,Meulaboh,ID,75.56,light rain,4.1363,96.1285,
23,Guerrero Negro,MX,79.38,few clouds,27.9769,-114.0611,
27,Bandarbeyla,SO,76.14,overcast clouds,9.4942,50.8122,
28,Cockburn Town,TC,83.21,clear sky,21.4612,-71.1419,

In [39]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df= hotel_df[hotel_df["Hotel Name"]!=""]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Qui Nhon,VN,78.26,clear sky,13.7667,109.2333,Seagull Hotel
8,Miraflores,MX,77.65,overcast clouds,19.2167,-98.8083,Hotel Mansión
9,Kavieng,PG,84.61,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
12,Warangal,IN,76.10,overcast clouds,18.0000,79.5833,Capital O 66968 Haveli The Landmark
14,Butaritari,KI,82.13,clear sky,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...,...
705,Polewali,ID,75.70,few clouds,-3.4324,119.3435,Lilianto Hotel
709,Bud,US,79.68,clear sky,39.4470,-86.1758,Ted McQuinn Trust
713,Cananea,MX,76.05,scattered clouds,30.9500,-110.3000,Casas Montoya
714,Nara,JP,79.92,moderate rain,34.6851,135.8049,Guesthouse Nara Komachi
715,Cairns,AU,77.07,broken clouds,-16.9167,145.7667,Mantra Trilogy Cairns

In [25]:
# 8a. Create the output File (CSV)
from pathlib import Path

output_data_file = Path('Vacation_Search/WeatherPy_vacation.csv')
output_data_file.parent.mkdir(parents=True, exist_ok=True)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [26]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

In [41]:
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))